
@{
    ViewData["Title"] = "ImagingComingSoon";
    Layout = "~/Views/Shared/_GlobalLawLayout.cshtml";
}

<html>
<head>
</head>
<body>
    <form class="form-rows">
        <div class="dashbord" style=" margin-top: 0px !important; padding: 17px;">
            <div class="breadcrum_wrapper">
                <ul class="breadcrum" style=" padding: 0px;">
                    <li>
                        <a href="">Imaging</a>
                    </li>
                    <li>
                        <span class="current">COMING SOON</span>
                    </li>
                </ul>
            </div>
            <div class="frame-heading only-data-grid">
                <div class="heading flex-grid">
                    <div class="title back_button_box"><a href="" class="back_button"></a>COMING SOON - AI Powered Radiology Recommendations</div>
                </div>
            </div>
            <h2 class="text-font-main">AI Powered Radiology Recommendations</h2>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="row akgraph">
                        <div class="col-md-6"><h3>Save countless hours</h3><p>Our Imaging Solution ensures a prompt and reliable way to search, view, analyze and diagnose medical images, signals and video files from anywhere and on any device.</p></div>
                        <div class="col-md-6"><h3>AI Powered Radiology Recommendations</h3><p>Our technology is being designed  and developed in close collaboration with clinicians around the world to address their needs and requirements from the start.</p></div>
                    </div>
                </div>
                <div class="col-md-12 pt-3">
                    <img width="100%" src="~/image/Capture.PNG" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>

