@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@*<p><a asp-area="" asp-action="Login" asp-controller="User">Login With Google</a></p>*@

@*<ul>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <li>
            <a>Hello @User.Identity.Name</a>
        </li>
        <li>
            <a asp-action="Logout" asp-controller="User">Logout</a>
        </li>
    }
</ul>*@